Repository just-a-mango/flux, changes with the labels that .github/labeler.yml gives for each.
All labels: website, documentation, main, scripts, legacy, readme, github

.github/labeler.yml:

website:
- website/**/*

documentation: 
- docs/**/*

main:
- flux.cpp

scripts:
- build-scripts/**/*
- git-scripts/**/*

legacy:
- legacy/**/*

readme:
- README.md

github:
- .github/**/*

Update README.md
  README.md
Labels: readme

Added banner
  resources/flux.o
  resources/flux.rc
  website/flux_banner.png
Labels: website

Changed names and restructured directories
  build/build.bat
  build/run.bat
  git/pull.bat
  git/push.bat
Labels: none

Added documentation
  docs/documentation.md
  flux.cpp
Labels: documentation, main

Removed duplicate replace property
  flux.cpp
Labels: main

Update README.md
  README.md
Labels: readme

Rewrote the process_inline function to be able to use multiple and with '+'
  flux.cpp
Labels: main

Misc
  flux
Labels: none

Fixed dependency error
  flux.cpp
Labels: main

misc
  README.md
  flux.cpp
  git/README.md
Labels: main, readme

Second vulnerability fix
  flux-installer/gui/node_modules/.package-lock.json
  flux-installer/gui/package-lock.json
  flux-installer/gui/package.json
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: github

Create pages.yml
  .github/workflows/pages.yml
Labels: github

Fixed std::out_of_range error when iterating over the different parentheses
  flux.cpp
Labels: main

Added math parser
  docs/documentation.md
  docs/not-work.md
  flux.cpp
Labels: documentation, main

Added more comments
  flux.cpp
Labels: main

Added CMakeLists.txt
  CMakeLists.txt
Labels: none

Added math processing using (math:<expression>)
  CMakeLists.txt
  flux.cpp
Labels: main

General optimization
  flux.cpp
Labels: main

.
  flux.cpp
Labels: main

.
  CMakeLists.txt
  build/build.bat
  build/build_production.bat
Labels: none

Update README.md
  README.md
Labels: readme

Most of bugs fixed
  flux.cpp
Labels: main

Update README.md
  README.md
Labels: readme

Update README.md
  README.md
Labels: readme

/
  CMakeLists.txt
  flux.cpp
Labels: main

/
  flux.cpp
Labels: main

Create macos-ci.yml
  .github/workflows/macos-ci.yml
Labels: github

Update macos-ci.yml
  .github/workflows/macos-ci.yml
Labels: github

Create c-cpp.yml
  .github/workflows/c-cpp.yml
Labels: github
